@{
    ViewBag.Title = "Bus Details Added";
}
<h2>@ViewBag.Title.</h2>

<body>
    <div>
        <b>BusId:</b>  @Model.BusId
        <br />
        <b> Capacity:</b>  @Model.Capacity
        <br />
        <b> Occupancy:</b>  @Model.Occupancy
        <br />
        <b> RouteId</b>   @Model.RouteId

        <br />
        <b> FuelConsumption</b>   @Model.FuelConsumption

        <br />

    </div>
</body> 